.row
  %h1
    This is where you set schedule of sharing

  = hidden_field_tag 'social_id', @social.id

%table
  %thead
    %td
      day
    %td
      active
    %td
      time
  %tbody
    - Fbite::Standard.a_week.each do |day|
      - detail = schedule_detail(@social, day)
      %tr
        %td
          = day
        %td
          = detail.active
        %td
          = detail.time

= link_to 'edit', edit_admin_social_schedule_path(@social.id)

= link_to 'back', admin_socials_path