.awesome-products-wrapper
  .awesome-products-title
    Few of our Awesome Products
  %ul.awesome-products
    %li
      = render '/dashboard/awesome_product'
    %li
      = render '/dashboard/awesome_product'
    %li
      = render '/dashboard/awesome_product'
    %li
      = render '/dashboard/awesome_product'
    %li
      = render '/dashboard/awesome_product'