%ul.awesome-products
  %li
    = render '/dashboard/awesome_product'
  %li
    = render '/dashboard/awesome_product'
  %li
    = render '/dashboard/awesome_product'
  %li
    = render '/dashboard/awesome_product'
  %li
    = render '/dashboard/awesome_product'