.large-4.medium-4.columns.menu-item
  .item-content
    .menu-img-wrapper
      %img{src: food.picture.url(:medium)}
    .menu-description-wrapper
      .small-space
      .menu-food-name
        %h2
          = food.name
      .menu-description
        %p
          = food.description
      %h2.menu-price
        = "$#{food.price}"

      - if customer_buy_active?
        = link_to 'Add to cart', menu_path(food.id), class: 'button'
      - else
        = link_to 'Detail', menu_path(food.id), class: 'button'