= render '/menus/shopping_cart'

.menu-wrapper
  .small-space
  .row
    .medium-5.large-5.columns
      %img.menu-show-image{src: @food.picture.url(:medium)}
    .medium-7.large-7.columns
      %div
        %h2
          = @food.name
      %div
        .menu-food-description-wrapper
          = @food.description
      %div
        %h2
          = "$#{@food.price}"

  .row
    .menu-show-button
      - if customer_buy_active?
        = link_to 'Add to cart', '', class: 'button'
      = link_to 'Back', menus_path, class: 'button'