%h1
  Delivery Time Schedule
%table
  %thead
    %tr
      %th
        day
      %th
        morning delivery?
      %th
        afternoon delivery?
      %th
        evening delivery?
  %tbody
    - @delivery_time_schedules.each do |delivery|
      %tr
        %td
          = delivery.schedule_date
        %td
          = delivery.morning
        %td
          = delivery.afternoon
        %td
          = delivery.evening

= link_to 'edit', admin_delivery_time_schedule_edit_path