-#.small-12.columns
-#  .checkout-header
-#    we do not save credit card information and transaction is protected by SSL

.small-12.columns
  .centre-text-align.checkout-header
    Payment

.small-12.columns.checkout-block
  = "Your order total is $#{@basket_total_amount}, please check the detail in the"
  = link_to 'shopping cart', '#', id: 'shopping-cart-link'

.small-12.columns.checkout-block
  Payment Method
  .checkout-block-sub
    = radio_button_tag 'cod', '0'
    = label_tag 'Cash on Delivery'
  .checkout-block-sub
    .checkout-highlight
      You need to verify your email to purchase using this method.
      Why not become a member and get free stuff instead ?
  -#paypal
    -# soon
  -#credit card
    -# soon
  -#.small-12.columns
  -#  You need to confirm your email address for this payment method

.small-12.columns.checkout-block
  .payment-header.centre-text-align
    Delivery

  = render partial: '/checkout/delivery'