.small-12.columns
  .centre-text-align.checkout-header
    Payment

.small-12.columns.checkout-block
  = "Your order total is $#{@basket_total_amount}, please check the detail in the"
  = link_to 'shopping cart', '#', id: 'shopping-cart-link'

.small-12.columns.checkout-block
  Payment Method
  .checkout-block-sub
    = form_tag('/payments', method: :post, id: 'payment_detail_form') do
      = radio_button_tag 'payment_method', '0'
      = label_tag 'Cash on Delivery'
      = radio_button_tag 'payment_method', '1', true
      = label_tag 'PayPal'

  .checkout-block-sub
    #cod_checkout_highlight.checkout-highlight.hidden
      You need to verify your email to purchase using this method.
      Why not become a member and get free stuff instead ?
    #paypal_checkout_highlight.checkout-highlight
      You will be redirected to PayPal to complete the payment

  -#credit card
    -# soon
  -#.small-12.columns
  -#  You need to confirm your email address for this payment method

