%p
  this is admin dashboard

.row
  = link_to 'menus', admin_menus_path
.row
  = link_to 'featured', admin_features_path
.row
  = link_to 'feature controls', admin_feature_controls_path
.row
  = link_to 'delivery coverage', admin_delivery_coverage_index_path
.row
  = link_to 'delivery time template', admin_delivery_time_template_path