%h1
  this is where you put fb upload

#socials-table
  %table
    %thead
      %td
        id
      %td
        description
      %td
      %td
      %td
    %tbody
      - @socials.each do |social|
        %tr
          %td
            = social.id
          %td
            = social.description
          %td
            = link_to 'edit', edit_admin_social_path(social.id)
          %td
            = link_to 'delete', admin_social_path(social.id), method: :delete
          %td
            = link_to 'add schedule', admin_social_schedule_path(social.id)

= link_to 'new', new_admin_social_path