.row
  %h1
    this is where you put new fb upload
.row
  = form_for @social, url: admin_socials_path ,method: :post do |f|
    .small-12.columns
      = f.label :description
      = f.text_area :description, class: 'facebook_description'

  .small-12.columns
    = render partial: 'admin/social_images/new'
  .small-12.columns
    = submit_tag 'submit'